<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>Hello, my friend</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/datepicker.min.css" />
        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/datepicker.js"></script>
        <script src="/js/underscore.js"></script>
        <script src="/js/validator.js"></script>
        <script src="/js/backbone-min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Приветствую <small> перед Вами todo list</small></h1>
            </div>
            <div class="row"><div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" data-toggle="validator" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Описание дела</label>
                        <div class="col-sm-9">
                            <input name="body" type="text" class="form-control" placeholder="Введите дело" data-error="you must die, i'm alone i'm best" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Важность дела</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="importance">
                                <option value="so-so">Не очень важно</option>
                                <option value="important">Важно</option>
                                <option value="very important">Очень важно</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Дата выполнения</label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <input type="text" class="form-control" name="expired" placeholder="Выберите дату" data-error="If my calculations are correct, when this baby hits 88 miles per hour you're going to see some serious shit." required>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default work-submit">Добавить в список</button>
                        </div>
                    </div>
                </form>
            </div></div>
            </br>
        </div>
        <script>
            moment.locale('ru');
            var datepicker = $('.date').datetimepicker({locale: 'ru'});
            var map = {
                "so-so":"Не очень важно",
                "important":"Важно",
                "very important":"Очень важно"
            }
            var tableTemplate = _.template("<thead><tr>\
                <th class=\"sortById\">№</th>\
                <th class=\"sortByBody\">Описание</th>\
                <th class=\"sortByImportance\">Важность</th>\
                <th class=\"sortByExpired\">Срок</th>\
                <th class=\"sortByDone\">Выполнено</th>\
                </tr></thead>")
            var rowTemplate = _.template("<td><%= id %></td>\
                <td><%= body %></td>\
                <td><%= importance %></td>\
                <td><%= expired %></td>\
                <td class=\"done\" data-id=\"<%= id %>\"><%= done %></td>\
                <td class=\"delet\" data-id=\"<%= id %>\">X</td>");

            var RowModel = Backbone.Model.extend({
                toJSON: function() {
                    return {
                        id: this.get('id'),
                        body: _.escape(this.get('body')),
                        done: this.get('done')?"Сделано":"Предстоит сделать",
                        expired: moment(this.get('expired')).format('lll'),
                        importance: map[this.get('importance')],
                    }
                },
                sync: function (method, collection, option) {
                    if (method=='update') {
                        $.ajax({
                            url: '/api/v1/trig',
                            type: 'post',
                            contentType: "application/json",
                            data: JSON.stringify({id: this.get("id")}),
                            context: this,
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("X-CSRFToken", $('meta[name=csrf-token]').attr('content'))
                            }
                        }).done(function(val) {
                            this.collection.trigger('add');
                        })
                    } else if (method == 'delete') {
                         $.ajax({
                            url: '/api/v1/delet',
                            type: 'post',
                            contentType: "application/json",
                            data: JSON.stringify({id: this.get("id")}),
                            context: this,
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("X-CSRFToken", $('meta[name=csrf-token]').attr('content'))
                            }
                        })
                    } else if (method == 'create') {
                        $.ajax({
                            url: '/api/v1/work',
                            type: 'post',
                            contentType: 'application/json',
                            data: JSON.stringify({body: this.get('body'),expired: this.get('expired'),importance:this.get('importance')}),
                            context: this,
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("X-CSRFToken", $('meta[name=csrf-token]').attr('content'))
                            }
                        }).done(function(val){
                            this.set(val);
                            // this.collection.trigger('add');
                        })
                    }
                }
            });

            var RowCollection = Backbone.Collection.extend({
                model: RowModel,
                initialize: function (){
                    this.on('change', this.sort);
                },
                sync: function (method, collection, option) {
                    if (method == 'read') {
                        $.ajax({
                            url: '/api/v1/getall',
                            type: 'get',
                            context: this
                        }).done(function(data) {
                            this.add(data.result);
                        })
                    }
                },
                comparator: function (model) {
                    return model.get('id');
                }
            })

            var RowView = Backbone.View.extend({
                tagName: 'tr',
                template: rowTemplate,
                attributes: function() {
                    return {
                        'class': this.model.get('done')?"success":moment(this.model.get('expired'))<moment()?"danger":"warning",
                    }
                },
                render: function() {
                    this.$el.html(this.template(this.model.toJSON()));
                    return this;
                },
                events: {
                    'click .done': 'done',
                    'click .delet': 'delete'
                },
                done: function() {
                    this.model.set('done', !this.model.get('done'))
                    this.model.save();
                },
                delete: function() {
                    this.model.destroy();
                }
            })

            var TableView = Backbone.View.extend({
                tagName: "table",
                className: "table table-striped table-hover",
                template: tableTemplate,
                initialize: function() {
                    this.sort = {type: 'sortById', asc: true}
                    this.collection.fetch();
                    this.listenTo(this.collection, 'add', this.render);
                    this.listenTo(this.collection, 'sort', this.render);
                    this.listenTo(this.collection, 'change', this.render);
                    this.listenTo(this.collection, 'remove', this.render);
                    this.render();
                },
                events: {
                    'click th': "click"
                },
                click: function(event) {
                    var comparator = null;
                    var type = event.currentTarget.classList[0];
                    if (this.sort.type == type) {
                        this.sort.asc = !this.sort.asc;
                    } else {
                        this.sort.type = type;
                        this.sort.asc = true;
                    }
                    var a = this.sort.asc;
                    switch (type) {
                        case "sortById":
                            comparator = function (model) {
                                return a?model.get('id'):-model.get('id');
                            }
                            break;
                        case "sortByBody":
                            comparator = function (model1, model2) {
                                if (model1.get('body') > model2.get('body')) return a?1:-1;
                                if (model2.get('body') > model1.get('body')) return a?-1:1;
                                return 0;
                            }
                            break;
                        case "sortByImportance":
                            comparator = function (model) {
                                return model.get('importance')=="very important"?(a?1:3):model.get('importance')=="important"?2:(a?3:1);
                            }
                            break;
                        case "sortByExpired":
                            comparator = function (model) {
                                return a?moment(model.get('expired')):-moment(model.get('expired'));
                            }
                            break;
                        case "sortByDone":
                            comparator = function (model) {
                                return a?model.get('done'):!model.get('done');
                            }
                            break;
                    }
                    this.collection.comparator = comparator;
                    this.collection.sort();
                },
                render: function() {
                    $('.container').append(this.$el.html(this.template));
                    _.each(this.collection.models, function(val) {
                        this.$el.append(new RowView({model: val}).render().$el);
                    }, this)
                    return this;
                }
            })

            var FormView = Backbone.View.extend({
                el: $('.form-horizontal'),
                initialize: function() {
                    var self = this;
                    this.$el.validator().on('submit', this.submit);
                },
                submit: function(event) {
                    if (!event.isDefaultPrevented()) {
                        event.preventDefault();
                        var array = $(this).serializeArray();
                        array[2].value = moment(array[2].value, 'DD.MM.YYYY HH:mm').unix();
                        var model = new RowModel(_.reduce(array, function (sum, current) {
                                sum[current.name] = current.value;
                                return sum;
                            }, {}));
                        self.collection.add(model);

                        model.save();
                        $(this)[0].reset();
                    }
                }
            })
            var collection = new RowCollection();
            var formView = new FormView({collection: collection});
            var table = new TableView({collection: collection});
        </script>
    </body>
</html>
